/*
Theme Name: Software Sauna Theme - Leadengine Child
Template: leadengine
Theme URI: https://www.leadengine-wp.com/
Author: Key-Design
Author URI: http://themeforest.net/user/Key-Design
Description: Multi-Purpose WordPress Theme with Page Builder
Version: 1.0
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-menu, featured-images, flexible-header, post-formats, sticky-post, translation-ready

/* Below you can write your style */


.center-icon .cb-img-area{
	text-align: center;
}


#footer .textwidget {
	border: none;
}


@media screen and (min-width: 960px) {
	.modal-content.contact {
		width: 550px!important;
		transform: translateX(50%)!important;
	}
}


#post-grid-sauna-blog .vc_gitem-zone.vc_gitem-zone-a {
	height: 20em
}

#post-grid-sauna-blog .vc_grid-item-mini .vc_gitem-zone.vc_gitem-zone-c {
	min-height: 30em;
}

#post-grid-sauna-blog .vc_grid-item-mini h4 {
	min-height: 4em;
}

#post-grid-sauna-blog .vc_gitem-post-data-source-post_excerpt {
	height: 12em;
}